html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: peachpuff;
}

.content {
  width: 95%;
  max-width: 700px;
  margin: 2em auto;
}

.u-lock-scroll {
  display: block;
  height: auto;
  overflow: hidden!important;
  margin-right: 17px;
}

.set-blur{
  filter: blur(10px);
  -webkit-filter: blur(5px);
}
